{:config-format-version 2

 :webserver             {:host            "localhost"
                         :public-hostname "ustriper.hq.c3d2.de"
                         :port            8080}

;; The same layout could be used by multiple devices

 :layout                {:ledbeere {:nrPxlz 226}
                         :ledball1 {:nrPxlz   640
                                    :geometry {:spiral [48 59 69 73 75 71 65 56 46 36 26 20]}}}

 :devices               {:ledbeere {:layout    ^:ref [:layout :ledbeere]
                                    :colors    [:b :g :r]
                                    :brightMax 0xff
                                    :ustripe   {:host "ledbeere.hq.c3d2.de"
                                                :port 2342}}
                         :ledball1 {:layout    ^:ref [:layout :ledball1]
                                    :colors    [:r :b :g]
                                    :brightMax 0xaa
                                    :ustripe   {:host "ledball1.hq.c3d2.de"
                                                :port 2342}}}

 ;; Each device we can have multiple processes with multiple states

 :states                {:state/ledball1-frame {:layout ^:ref [:layout :ledball1]
                                                :geometry [48 59 69 73 75 71 65 56 46 36 26 20]  ;; TODO rewrite with layout
                                               ;:initial {
                                                          :type :generator/spiral};}
                         :state/ledbeere-frame {:layout ^:ref [:layout :ledbeere]
                                               ;:initial {  ;; TODO
                                                          :type :generator/cycled
                                                          :chain [:generator/stretched :generator/rainbow]
                                                          :length 113};}
                         #_#_:state/ledball1-animation []  ;; TODO to be consequent, this should be nil or {:type …}
                         #_#_:state/ledbeere-animation []}

 ;; Register processes with defaults for renderers and animators

 :processes             {:renderer/ledbeere-frame
                                              {:type      :renderer/ustripe-frame
                                               :device    ^:ref [:devices :ledbeere]
                                               :prio      0x23
                                               :framerate 30
                                               :state     :state/ledbeere-frame}

                         :renderer/ledbeere-animation
                                              {:type      :renderer/ustripe-animation
                                               :device    ^:ref [:devices :ledbeere]
                                               :prio      0x23
                                               :framerate 30
                                               :state     :state/ledbeere-animation}

                         :renderer/ledball1-frame
                                              {:type      :renderer/ustripe-frame
                                               :device    ^:ref [:devices :ledball1]
                                               :prio      0x23
                                               :framerate 30
                                               :state     :state/ledball1-frame}

                         :renderer/ledball1-animation
                                              {:type      :renderer/ustripe-animation
                                               :device    ^:ref [:devices :ledball1]
                                               :prio      0x23
                                               :framerate 30
                                               :state     :state/ledball1-animation}

                         :renderer/quil-frame
                                              {:type      :renderer/quil-frame
                                               :framerate 60
                                               :state     :state/ledball1-frame}

                         :renderer/quil-animation
                                              {:type      :renderer/quil-animation
                                               :framerate 30
                                               :state     :state/ledball1-animation}

                         :animator/shift-ledbeere
                                              {:type      :animator/shift
                                               :state     :state/ledbeere-frame
                                               :offset    1
                                               :framerate 10}

                         :animator/shift-ball
                                              {:type      :animator/shift
                                               :state     :state/ledball1-frame
                                               :offset    1
                                               :framerate 30}
                         :animator/green-shift
                                              {:type      :animator/color-shift
                                               :state     :state/ledball1-frame
                                               :color     :green
                                               :framerate 30}}

 :processes/auto-start [#_:renderer/quil-frame
                        :renderer/ledbeere-frame
                        :animator/shift-ledbeere
                        :renderer/ledball1-frame
                        :animator/shift-ball]}
