{:config-format-version 0

 :pxlz {:ledbeere {:nrPxlz 226
                   :colors [:b :g :r]
                   :brightMax 0xff
                   :ustripe {:host "ledbeere.hq.c3d2.de"
                             :port 2342
                             :prio 0x23}}
        :ledball1 {:nrPxlz 640
                   :colors [:r :b :g]
                   :brightMax 0xaa
                   :geometry {:spiral [48 59 69 73 75 71 65 56 46 36 26 20]}
                   :ustripe {:host "ledball1.hq.c3d2.de"
                             :port 2342
                             :prio 0x23}}}
 :webserver {:host "localhost"
             :public-hostname "ustriper.hq.c3d2.de"
             :port 8080}}
