[Install]
WantedBy=multi-user.target

[Service]
User=user
Group=user
WorkingDirectory=/home/user/pentapxlz
ExecStart=/usr/local/bin/lein trampoline run :headless
Restart=on-failure
RestartSec=60s
